.nav {
  display: flex;

  color: white;
  padding: 2rem 0;
  z-index: 5;

  &-header {
    font-family: 'Mistuki';
    font-size: 5.25rem;
    font-weight: normal;
    margin-right: auto;
  }

  &-list {
    font-family: 'Montserrat', sans-serif;

    &-item {
      margin-bottom: 0.75rem;
      text-align: right;
    }

    &-link:link,
    &-link:visited {
      color: white;
      font-size: 1.5rem;
      transition: ease-in-out 250ms;
    }

    &-link:hover,
    &-link:active,
    &-link:focus {
      color: color(pri);
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}