// Styling for page headings
.heading {

  &-fancy {
    font-family: 'Playfair Display', serif;
    font-size: 6rem;
    font-weight: 100;
    line-height: 115%;
    margin-top: -4.5rem;

    @include respond(tab-port) {
      font-size: 8.5rem;
      margin-bottom: 3rem;
    }
  }

  &-plain {
    @include headingStyleLight;
  }
}

// Styling for Doordash link
.doordash-link {

  &:link,
  &:visited {
    color: #f78989;
    transition: ease-in-out 250ms;
  }

  &:hover,
  &:active,
  &:focus {
    color: darken(#f78989, 13%);
  }
}

.menu-heading {
  @include headingStyleLight;

  border-bottom: 2px solid color(pri);
  display: inline-block;
  margin: 3.5rem auto; 
}

.contact-info-text {
  font-size: 1.5rem;

  &-small-italic{
    font-size: 1.25rem;
    font-style: italic;
  }
}