// colors map
$colors: (
	pri: #42b883,
	sec: #347474,
	tert: #35495e,
	quat: #ff7e67
);

// call this function
@function color($color-name) {
	@return map-get($colors, $color-name);
}

// sizes map
$sizes: (
	x-tny: 0.5rem,
	tny: 1rem,
	x-sml: 2rem,
	sml: 3rem,
	med: 4rem,
	lg: 5rem,
	x-lg: 6rem,
	xx-lg: 7rem,
	hg: 8rem,
	x-hg: 9rem,
	msv: 10rem
);

// call this function
@function size($size) {
	@return map-get($sizes, $size);
}

// wrapper map
$wrappers: (
	x-tny: 50%,
	tny: 55%,
	x-sml: 60%,
	sml: 65%,
	med: 70%,
	lg: 75%,
	x-lg: 80%,
	xx-lg: 85%,
	hg: 90%,
	x-hg: 95%,
	full: 100%
);

// call this function
@function wrapper($wrapper) {
	@return map-get($wrappers, $wrapper);
}
