// ----- COLORS MAP -----
$colors: (
	pri: #42b883,		// primary color
	sec: #347474,		// secondary color
	tert: #35495e,	// tertiary color
	quat: #ff7e67		// quatenary color
);

// Call this function
@function color($color-name) {
	@return map-get($colors, $color-name);
}


// ----- SIZES MAP -----
$sizes: (
	x-tny: 0.5rem,	// extra-tiny
	tny: 1rem,			// tiny
	x-sml: 2rem,		// extra-small
	sml: 3rem,			// small
	med: 4rem,			// medium
	lg: 5rem,				// large
	x-lg: 6rem,			// extra-large
	xx-lg: 7rem,		// extra-extra-large
	hg: 8rem,				// huge
	x-hg: 9rem,			// extra-huge
	msv: 10rem			// massive
);

// Call the function
@function size($size) {
	@return map-get($sizes, $size);
}


// ----- WRAPPER MAP -----
$wrappers: (
	x-tny: 50%,		// extra-tiny
	tny: 55%,			// tiny
	x-sml: 60%,		// extra-small
	sml: 65%,			// small
	med: 70%,			// medium
	lg: 75%,			// large
	x-lg: 80%,		// extra-large
	xx-lg: 85%,		// extra-extra-large
	hg: 90%,			// huge
	x-hg: 95%,		// extra-huge
	full: 100%		// massive
);

// Call the function
@function wrapper($wrapper) {
	@return map-get($wrappers, $wrapper);
}