// responsive images reset
@mixin responsiveImages {
	display: block;
	height: auto;
	max-width: 100%;
}

// html selector border box reset
@mixin htmlBoxReset {
	box-sizing: border-box;
}

// universal selector border box reset
@mixin universalBoxReset {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

// body selector default font stylings
@mixin defaultFontStyles {
	font-weight: $fw-reg;
	line-height: $lh-def;
}

// horizontally and vertically center your flexbox container
@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

// customizeable Responsive Image/Content Block Grid
@mixin responsiveGrid(
	$gap: 0.75rem,
	$minxmax: (
		30rem,
		1fr
	)
) {
	display: grid;
	grid-gap: $gap;
	grid-template-columns: repeat(auto-fit, minmax($minxmax));
}

// heading styles (light)
@mixin headingStyleLight {
	font-size: 3.5rem;
	font-weight: 200;
}

/* MEDIA QUERY MANAGER

$breakpoint argument choices:
- mobile-lg (large mobile)
- tab-port (tablet-portrait)
- tab-land (tablet-landscape)
- laptop (standard laptop screen resolution)
- desktop (standard desktop screen resolution)
- desktop-lg (1440p resolution desktop)
- desktop-4k (4k resolution desktop)

** MIN-WIDTH SETTINGS **
- mobile-lg == min-width 550px
- tab-port == min-width 750px
- tab-land == min-width 1000px
- laptop == min-width 1300px
- laptop-lg == min-width 1600px
- desktop == min-width 1900px 118.75
- desktop-lg == min-width 2500px 156.25
- desktop-4k == min-width 3800px 237.5

1em = 16px (16px is the default browser font-size)
Each em amount is the min-width listed above divided 16
For example, for tab-port, 768px / 16px = 48em
*/

@mixin respond($breakpoint) {
	@if $breakpoint==mobile-lg {
		@media only screen and (min-width: 34.375em) {
			@content;
		}
	}

	@if $breakpoint==tab-port {
		@media only screen and (min-width: 46.875em) {
			@content;
		}
	}

	@if $breakpoint==tab-land {
		@media only screen and (min-width: 62.5em) {
			@content;
		}
	}

	@if $breakpoint==laptop {
		@media only screen and (min-width: 81.25em) {
			@content;
		}
	}

	@if $breakpoint==laptop-lg {
		@media only screen and (min-width: 100em) {
			@content;
		}
	}

	@if $breakpoint==desktop {
		@media only screen and (min-width: 118.75em) {
			@content;
		}
	}

	@if $breakpoint==desktop-lg {
		@media only screen and (min-width: 156.25em) {
			@content;
		}
	}

	@if $breakpoint==desktop-4k {
		@media only screen and (min-width: 237.5em) {
			@content;
		}
	}
}
