// ------------------------- BLACK & WHITE -------------------------
// Basic black and white colors
$clr-wht: #fff;
$clr-blk: #000;

// ------------------------- IMPORTANT COLORS -------------------------
$clr-pri: #42b883;
$clr-pri-lt: lighten($clr-pri, 7.5%);
$clr-pri-xlt: lighten($clr-pri, 12.5%);
$clr-pri-drk: darken($clr-pri, 7.5%);
$clr-pri-xdrk: darken($clr-pri, 12.5%);

// ------------------------- TEXT DECORATION -------------------------
$txt-cntr: center;
$txt-uppr: uppercase;
$txt-lwr: lowercase;
$txt-no-dec: none;

// ------------------------- LINE HEIGHT -------------------------
$lh-def: 1.45;

// ------------------------- LIST DECORATION -------------------------
$list-no-dec: none;

// ------------------------- FONT-WEIGHT -------------------------
$fw-thin: 100;
$fw-x-lt: 200;
$fw-lt: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-x-lt: 800;
$fw-black: 900;

// ------------------------- FONT SIZES -------------------------
$fnt-sz-def: 62.5%;
$fnt-sz-mbl-lg: 66%;
$fnt-sz-tab-port: 69.5%;
$fnt-sz-tab-land: 73%;
$fnt-sz-laptop: 76.5%;
$fnt-sz-desktop: 80%;
$fnt-sz-desktop-lg: 83.5%;
$fnt-sz-desktop-4k: 87%;

// ------------------------- REM SIZES -------------------------
$sz-xtny-1: 0.25rem;
$sz-xtny-2: 0.5rem;
$sz-xtny-3: 0.75rem;

$sz-tny-1: 1rem;
$sz-tny-2: 1.25rem;
$sz-tny-3: 1.5rem;
$sz-tny-4: 1.75rem;

$sz-xsml-1: 2rem;
$sz-xsml-2: 2.25rem;
$sz-xsml-3: 2.5rem;
$sz-xsml-4: 2.75rem;

$sz-sml-1: 3rem;
$sz-sml-2: 3.25rem;
$sz-sml-3: 3.5rem;
$sz-sml-4: 3.75rem;

$sz-med-1: 4rem;
$sz-med-2: 4.25rem;
$sz-med-3: 4.5rem;
$sz-med-4: 4.75rem;

$sz-lg-1: 5rem;
$sz-lg-2: 5.25rem;
$sz-lg-3: 5.5rem;
$sz-lg-4: 5.75rem;

$sz-xlg-1: 6rem;
$sz-xlg-2: 6.25rem;
$sz-xlg-3: 6.5rem;
$sz-xlg-4: 6.75rem;

$sz-xxlg-1: 7rem;
$sz-xxlg-2: 7.25rem;
$sz-xxlg-3: 7.5rem;
$sz-xxlg-4: 7.75rem;

$sz-hg-1: 8rem;
$sz-hg-2: 8.25rem;
$sz-hg-3: 8.5rem;
$sz-hg-4: 8.75rem;

$sz-xhg-1: 9rem;
$sz-xhg-2: 9.25rem;
$sz-xhg-3: 9.5rem;
$sz-xhg-4: 9.75rem;

// ------------------------- TRANSITIONS -------------------------
$transit-standard: all 250ms;
